{% extends 'base.html' %}



<br>
<br>
<br>
{% block content %}


<div>
{% if user.state == 'Teacher' %}
    {% if lessons.count > 0 %}
    {% for lesson in lessons %}
    <ul class="list-group">
        <li class="list-group-item active"><a>{{ lesson.name }}</a></li>
        <br>
    </ul>
    {% endfor %}
    {% else %}
    No Lessons
    {% endif %}
{% elif user.state == 'Student' %}
    {% if lessons.count > 0 %}
    {% for lesson in lessons %}
    <ul class="list-group">
        <li class="list-group-item active"><a>{{ lesson.lesson }}</a></li>
        <br>
    </ul>
    {% endfor %}
    {% else %}
    No Lessons
    {% endif %}
{% else %}
Not teacher, Not student
{% endif %}
</div>

{% endblock %}

