{% extends 'base.html' %}

{% block content %}



<br><br><br>
<div class="col-lg-6 offset-lg-1">
          <div class="register_form">
            <h2>Log In</h2>
            <p>계정이 없다면, <a href="/accounts/signup/">회원가입</a>을 먼저 해주세요 :)</p>
            <form class="login" method="POST">
              <input type="hidden" name="csrfmiddlewaretoken" value="WeHbsFiOPILRdaccZpfz1dFZjNvc6eNpftVbJPY8DyIawt61fn12WS2yyLe1vhCy">
              <div class="row">
                <div class="col-lg-12 form_group">
                  <input
                    name="login"
                    autofocus="autofocus"
                    placeholder="이메일"
                    pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                    required=""
                    id="id_email"
                    type="email"
                  />
                  <input
                    name="password"
                    placeholder="비밀번호"
                    required=""
                    type="password"
                    id="id_password1"
                  />
                </div>
                <div class="col-lg-12 text-center">
                  <button class="primary-btn">Log In</button>
                  {% csrf_token %}
                </div>
              </div>
            </form>
          </div>
</div>
</body>

{% endblock %}