{% extends 'base.html' %}

{% block content %}



<body class="vsc-initialized">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">MENU</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/accounts/email/">Change E-mail</a>
          </li>
        </ul>
      </div>
    </nav>
    

<br>

<div class="jumbotron">
    <h1 class="display-4">LogOut</h1>
    <p class="lead">정말 로그아웃 하시겠습니까?</p>
    
    <form method="post" action="/accounts/logout/">
    <input type="hidden" name="csrfmiddlewaretoken" value="CoyvLq4bXuXOFCnfamdvaEcBG2blGEw91EuHmU0QYVoSM6M6pD9QGAJlcaG3KW4i">
    <button type="submit" class="btn btn-primary btn-lg">LogOut</button>
    {% csrf_token %}
</form>
  </div>



</body>


{% endblock %}