{% extends 'base.html' %}

{% block content %}

<br><br><br>
<div  class="col-lg-6 " align="center">
          <div class="register_form">
            <h2>Sign Up</h2>
            <p>아래 정보를 입력해 회원 가입을 진행해주세요. <br>계정이 있다면, <a href="/accounts/login/">로그인하세요</a>.</p>
            <form class="signup" id="signup_form" method="post" action="/accounts/signup/">
              <input type="hidden" name="csrfmiddlewaretoken" value="aMY9mZlpPUBKOmxMrATiqdmsdlALERNCz2UlXth4Ql2OVQWDGRPDW9TcJt5tI9lL">
              <div class="row">
                <div class="col-lg-12 form_group">
                  <input
                    name="username"
                    placeholder="이름(영어로)"
                    required=""
                    autofocus="autofocus"
                    id="id_username"
                    type="text"
                  />
                  <input
                    name="email"
                    placeholder="이메일"
                    pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$"
                    required=""
                    id="id_email"
                    type="email"
                  />
                  <input
                    name="password1"
                    placeholder="비밀번호"
                    required=""
                    type="password"
                    id="id_password1"
                  />
                  <input
                    name="password2"
                    placeholder="비밀번호 확인"
                    required=""
                    type="password"
                    id="id_password2"
                  />
                </div>
                <div class="col-lg-12 text-center">
                  <button class="primary-btn">Sign Up</button>
                  {% csrf_token %}
                </div>
              </div>
            </form>
          </div>
</div>






{% endblock %}